{% extends "base.html" %}


{% block page_title %}
    {{product.product_name}}
{% endblock page_title %}

{% block content %}

<div>
    <h1>{{product.product_name}}</h1>
</div>

<div>
    <h3>SoC</h3>
    <ul>
        <li>{{product.soc_type}}</li>
    </ul>
    <h3>NAND</h3>
    <ul>
        <li>{{product.nand_type}}</li>
    </ul>
    <h3>Customers</h3>
    <ul>
    {% for customer in product.customer_types.all  %}
        <li>{{customer}}</li>
    {% endfor %}
    </ul>
</div>

<div>
    <h1>Project management</h1>
    <ul>
        <li>create</li>

        {% for project in projects %}
            <li><a href="{% url "projects:detail" project.pk %}">{{project}}</a></li>
        {% endfor %}

        <h5>
            {% if page is not 1 %}
                <a href="?page={{page|add:-1}}">Previous</a>
            {% endif %}

            Page {{page}} of {{page_count}}

            {% if not page == page_count  %}
                <a href="?page={{page|add:1}}">Next</a>
            {% endif %}
        </h5>
    </ul>
</div>

<div>
    <h1>Testcase management</h1>
    <ul>
        <li>View</li>
        <li>Edit</li>
        {% for testcase in product.testcases.all  %}
            <li>{{testcase}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}